@font-face {
    font-family: snow;
    src: url('../fonts/almosnow.ttf')
}


.logo {
    font-family: snow;
    font-size: 60;
    color: #008b8b;
    padding-bottom: 0px;
    line-height: 70px
}

body {
    background-color: #F1F1F2;
}
.subtext {
    color: darkcyan;
    line-height: 20px
}
.jumbotron {
    padding-bottom: 5px;
    padding-top: 5px;
    background-color: #FF7D31;
}
.container {
    padding-bottom: 5px;
}
h4 {
    padding-bottom: 5px;
}

.shoppingList {
    border-collapse:separate;
    border-spacing: 10px;
    z-index: 100;
    
}
.shoppingList td {
    
    padding: 8px;
    border-width: 8px;
    border-radius: 30px;
    border-style:solid;
    border-color: #F1F1F2;
    background-color: #008b8b;
    color: #F1F1F2;
    transition: all 0.4s;
    width: 400px;
    z-index: 100;
}
#item:hover {
    color: #FF7D31;
    background-color: #F1F1F2;
    border-color: #008b8b;
}
#item:hover #shoppingPrice #amount {
    color: black
}

#shoppingName {
    padding-left: 80px;
}
#shoppingPrice {
    padding-left: 80px;
}
#shoppingPrice #amount{
    color: 18FFFF;
}
.shoppingList img {
    height: 70px;
    width: 70px;
    float: left;
    border-top-left-radius: 18px;
    border-bottom-left-radius: 18px;
}

.popover {
    max-width: 320px !important;
    top:0;
    z-index: 10000;
    position:absolute;
    border-radius: 30px;
}
.popover-title {
    text-align: center;
    color: #F1F1F2;
    background-color: #008b8b;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    height: 40px;
    padding-top: 11px;
}


.popUp {
    float: left;
    width: 270px;
    border-spacing: 8px;
}
.popUp img {
    height: 220px;
    width: 200px;
    margin-left: 45px;
}

.popUp popDesc {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-line;
    overflow: auto;
    width: 50px;
}

.textHigh{
    color: #FF7D31;
}



.main {
    padding-left: 10px;
    padding-right: 10px;
}
.filterList {
    float: left;
    background-color: #FF7D31;
    padding: 3px;
    border-style: solid;
    border-width: 5px;
    border-radius: 15px;
    border-color: #FF7D31;
    
}

.searchBoxDiv {
    padding-top: 7px;   
}
.searchBox {
    width: 135px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-color: #FF944D;
}

#spacer {
    padding: 8px;
    float: left
}