@mixin clearfix {
    
    &:before,
    &:after {
        content: ' ';
        display: table;
    }//before, after
    &:after {
        clear: both;
    }//after
}

@mixin backImage($img) {
    background:  url($img) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
