<section class="ShopPage">
    
<div class="container-fluid">
<div class="row">
    <div class=".col-md-1">
        <div class="filterList">
        <label class="group">
            <input type="checkbox" ng-click="includeTag('board')"></input>
            Show Boards
        </label><br/>
        <label class="group">
            <input type="checkbox" ng-click="includeTag('gear')"></input>
            Show Equipment
        </label><br/>
        <label class="group">
            <input type="checkbox" ng-click="includeTag('ski')"></input>
            Show Ski Set
        </label><br/>
        Order By:
        <select ng-model="shopOrder">
            <option value="name">Name</option>
            <option value="price">Price</option>
            <option value="tag">Type</option>
        </select><br/>
        <div class="searchBoxDiv"> 
            <input type="text" ng-model="search" placeholder="Search" class="searchBox">
        </div>
            </div>
    
    
    </div>
        
    <div class=".col-md-1" id="spacer">
       
    </div>
    
    
    <div class=".col-md-10">    
        <table class="shoppingList">
            <tr ng-repeat="item in filtered = (list | filter: listFilter | filter: search | orderBy: shopOrder)" ng-if="$index % 3 == 0" >

                <td id="item" uib-popover-template="dynamicPopover.templateUrl" popover-trigger="mouseenter" popover-placement="right" popover-title="{{filtered[$index].name}}" popover-append-to-body="true">
                    <div id="shoppingImg">
                     <img ng-src="images/{{filtered[$index].shortname}}.jpg"/>
                    </div>
                    <div id="shoppingName">
                        {{filtered[$index].name}}
                    </div>
                    <div id="shoppingPrice">
                      Price:<span id="amount"> ${{filtered[$index].price}}</span>
                    </div>
                    
                    <script type="text/ng-template" id="popTemp.html">
                        <div class="container">
                            
                            <div class="popUp">
                                <div class="row">
                                <div class="popImg">
                                    <img ng-src="images/{{filtered[$index].shortname}}.jpg"/>
                                </div>
                                </div>
                                <div class="popTitle">
                                  <span class="textHigh">Name:</span>  {{filtered[$index].name}}
                                </div>
                                <div class="popPrice">
                                    <span class="textHigh">Price:</span>  ${{filtered[$index].price}}
                                </div>
                                <div class="popDesc">
                                    <span class="textHigh">Description:</span>      {{filtered[$index].desc}}
                                </div>
                                
                            </div>
                        </div>
                    </script>
                    
                </td>

                <td id="item" ng-if="$index+1 < filtered.length" uib-popover-template="dynamicPopover.templateUrl1" popover-trigger="mouseenter" popover-placement="right" popover-title="{{filtered[$index+1].name}}" popover-append-to-body="true">
                    <div id="shoppingImg">
                     <img ng-src="images/{{filtered[$index+1].shortname}}.jpg"/>
                    </div>
                    <div id="shoppingName">
                        {{filtered[$index+1].name}}
                    </div>
                    <div id="shoppingPrice">
                      Price:<span id="amount"> ${{filtered[$index+1].price}}</span>
                    </div>
                    
                    <script type="text/ng-template" id="popTemp1.html">
                        <div class="container">
                            
                            <div class="popUp">
                                <div class="row">
                                <div class="popImg">
                                    <img ng-src="images/{{filtered[$index+1].shortname}}.jpg"/>
                                </div>
                                </div>
                                <div class="popTitle">
                                   <span class="textHigh">Name:</span> {{filtered[$index+1].name}}
                                </div>
                                <div class="popPrice">
                                    <span class="textHigh">Price:</span> ${{filtered[$index+1].price}}
                                </div>
                                <div class="popDesc">
                                    <span class="textHigh">Description:</span> {{filtered[$index+1].desc}}
                                </div>
                                
                            </div>
                        </div>
                    </script>
                    
                </td>
                <td id="item" ng-if="$index+2 < filtered.length" uib-popover-template="dynamicPopover.templateUrl2" popover-trigger="mouseenter" popover-placement="left" popover-title="{{filtered[$index+2].name}}" popover-append-to-body="true">
                   <div id="shoppingImg">
                     <img ng-src="images/{{filtered[$index+2].shortname}}.jpg"/>
                    </div>
                    <div id="shoppingName">
                        {{filtered[$index+2].name}}
                    </div>
                    <div id="shoppingPrice">
                      Price:<span id="amount"> ${{filtered[$index+2].price}}</span>
                    </div>
                    
                    <script type="text/ng-template" id="popTemp2.html">
                        <div class="container">
                            
                            <div class="popUp">
                                <div class="row">
                                <div class="popImg">
                                    <img ng-src="images/{{filtered[$index+2].shortname}}.jpg"/>
                                </div>
                                </div>
                                <div class="popTitle">
                                  <span class="textHigh">Name:</span>  {{filtered[$index+2].name}}
                                </div>
                                <div class="popPrice">
                                    <span class="textHigh">Price:</span> ${{filtered[$index+2].price}}
                                </div>
                                <div class="popDesc">
                                     <span class="textHigh">Description:</span>   {{filtered[$index+2].desc}}
                                </div>
                                
                            </div>
                        </div>
                    </script>
                    
                </td>
             
            </tr>      
        </table>
    </div>


</div>
</div>


</section>