<script>
 $(document).ready(function () {
        $('.navList li').removeClass("active");
        $('.navHome').addClass('active');
    });
</script>

<div class="jumbotron">
  <h1>Welcome To Winterland</h1>
  <p class="lead">
    This website was made by me as a demo to different technologies.<br/>
      This website is still a work in progress.
  </p>
</div>

<div class="row marketing">
  <h3>Current Technology used:</h3>
    <ul>
    <li>HTML5 + CSS</li>
    <li><a href="https://www.javascript.com/">Javascript</a> + <a href="https://jquery.com/">Jquery</a></li>
    <li><a href="http://getbootstrap.com/">  Bootstrap</a></li>
    <li><a href="https://angularjs.org/">Angular</a></li>
    <li><a href="http://yeoman.io/">Yeoman Generator</a></li>
    <li><a href="http://gruntjs.com/">Grunt</a></li>
    <li><a href="http://sass-lang.com/">SASS (for CSS processing, requires ruby)</a></li>
    <li><a href="http://compass-style.org/">Compass(requires SASS)</a></li>
    <li><a href="http://breakpoint-sass.com/">Breakpoint(SASS media queries)</a></li>
    <li><a href="http://susy.oddbird.net/">Susy('grids-on-demand')</a></li>
    <li><a href="http://bower.io/">Bower (Package Manager)</a></li>
    
    
    </ul>
</div>
